<h1>Productos</h1>

{{#each products}}
<div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <ul>
        <li>Precio: {{price}}</li>
        <li>Thumbnail: {{thumbnail}}</li>
        <li>Code: {{code}}</li>
        <li>Stock: {{stock}}</li>
        <li>Status: {{status}}</li>
        <li>ID:{{id}} </li>
    </ul>
</div>
{{/each}}
